{{#[../helpers/layout] "title:sss | page:2" }}

  <div class="welcome-block">
    <h1 class="welcome-block-text-title">
      Let's do some magic
    </h1>
    <div  class="welcome-block-text-description">This's a Page 2</div>
    <a class="welcome-block-link" href="/sub/page_3.html">go to page 2</a>
  </div>

{{/[../helpers/layout]}}