<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="x-ua-compatible" content="ie=edge" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<title>One page starter | Page 2</title>
		<meta name="description" content="page description" />
		<!--[if lt IE 9]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
	<body>
		<div class="content">
			<img class="icon" src="./assets/img/squares.svg" alt="square" />
			<h1>One page starter</h1>
			<span>This's a Page 2</span>
			<a href="/">go to main page</a>
		</div>
	</body>
</html>
