<header class='header'>
  <div class="header-logo">
    <div class="header-logo-text">Multiple page starter</div>
    <img class="header-logo-img" src="../../../public/assets/img/main-logo.svg" alt="square">
  </div>
  <div class="simple-line"></div>
</header>