*,
:after,
:before {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
	font-family: Georgia, serif;
	font-weight: normal;
	line-height: 1.5;
	color: #000000;
	background: #ffffff;
	-webkit-font-smoothing: antialiased;

	// all variables source in src/styles/utils/breakpoints.js
	@media (--only-mobile) {
		background: #417e93;
	}
}

.content {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 40px;
	padding: 40px;

	> .icon {
		width: 50px;
	}
}
