{{#[../../helpers/layout] "title:Page 3 | page:3" }}

  <div class="welcome-block">
    <h1 class="welcome-block-text-title">
      Let's do some magic
    </h1>
    <div  class="welcome-block-text-description">This's a Page 3</div>
    <a class="welcome-block-link" href="/">go to main</a>
  </div>

{{/[../../helpers/layout]}}