*,
:after,
:before {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: Roboto-Regular-font, sans-serif;
  font-weight: normal;
  line-height: 1.5;
  color: var(--color-10);
  background: #ffffff;
  -webkit-font-smoothing: antialiased;

  // all variables source in src/styles/utils/breakpoints.js
  @media (--only-mobile) {
    background: #9b36ff;
    color: #fff;
  }
}

.simple-line {
  width: 100%;
  display: block;
  height: 2px;
  background: var(--color-10);
}
